body {
    font-family: "myriad-pro", sans-serif;
}

#surveyTitle {
    text-align: center;
}

h1 {
    font-size: 3.5vw;
}

.logoImg {
    right: 15px;
    position: absolute;
    width: 120px;
    height: auto;
}

.questionsContainer {
    width: 80%;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.smileyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smileyButton {
    width: 20%;
    max-width: 100px;
    padding: 10px;
    border-radius: 50%;
    outline: none !important;
}

.smileyButton:hover {
    opacity: 0.7;
    transform: translateY(4px);
}

.smileyButton:active {
    opacity: 1;
    transform: translateX(2px);
}

.displayValue {
    text-align: center;
    position: relative;
    font-size: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #007DBA;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #004165;
    cursor: pointer;
    border: 1px solid white;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #004165;
    cursor: pointer;
    border: 1px solid white;
}

.button {
    width: 200px;
    font-size: 16px;
    background-color: #007DBA;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.button:hover {
    opacity: 0.7;
}

textarea {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    resize: none;
    outline: none;
}

#displayComments {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
}